@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
  background-size: cover;
  background-repeat: no-repeat;
  background: #1D1F20;
  /* z-index: 0; */
  
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.boxi-contain{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-family: 'Raleway';
  /* font-size: 2.5rem; */
}
.gradient-border {
  --borderWidth: 3px;
  background: rgba(29, 31, 32, 0.87);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--borderWidth);
  
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
@-webkit-keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#work_box{
  /* display: flex; */
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
    align-content: center;
    min-width: 70%;
    /* justify-content: center; */
    /* height: 100%; */
}

#upload {
    font-family: inherit;
    font-size: inherit;
    display: block;
    width: 75%;
    margin: auto;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .btn {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgba(0, 0, 0, 0.74);
    cursor: pointer;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    
    border-radius: 10px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 42.5px);
    

   }
  
  .btn:hover {
    background-position: right center; /* change the direction of the change here */
    cursor: pointer;

  }
  
  .btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    cursor: pointer;
  }

  .color-list {
  display: flex;
  /* 
    On small displays we want each .color stacked.
    Flexbox let's us determine stacking direction via
    flex-direction: column;
  */
  flex-direction: column;
  height: 30vh;
}

.color {
  /*
    Each .color is also a flex item. We do this so that we have reasonable
    distribution of space between elements. We use flex-direction so that
    flexbox knows which way to position each element (in this case, vertical).
  */
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  
  /*
    .color can grow but not shrink (we want space for first three elements).
    10em is enough space to see name, hsl, and hex values. 
    Try shrinking vertically on a small display.
  */
  flex: 1 0 2em;  
  box-shadow: 0 0 30px #424242;
  
  /* Handles any clipping/overflow issues on transition */
  overflow: hidden;
  padding: 1em;
  color: white;
  transition: flex-basis 500ms ease-in-out;
}

.color:hover {
  /*
    Change the flex-basis so that we know what
    size to transition to on hover. Arbitrary,
    based on our design/content.
  */
  flex-basis: 10em;
}

.color:hover .details {
  opacity: 1;
}

.name {
  font-size: 1.2em;
  font-weight: 600;
}

.details {
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.details li {
  font-size: 1em;
  line-height: 2em;
}

@media (min-width: 600px) {
  .color-list {
    /*
      Change the direction so that each .color
      aligns horizontally
    */
    flex-direction: row;
  }
  
  .color {
    /*
      No scrollbars on mobile
    */
    flex-shrink: 1;
  }
}

@media (max-width: 600px) {

  #work_box{
    overflow: scroll;
}

/* Fonts, OK at the end for this demo! */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);